:root {
  width: 100%;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  background:  #f2f2f2;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Link {
  text-decoration: none;
}

