:root {
  background:  #f2f2f2;
  font-family: "Apple SD Gothic Neo", Sans-serif;;
}


* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Jost-Medium";
  src: url("../fonts/Jost-Medium.woff") format('woff')
}

@font-face {
  font-family: "Menlo-Regular";
  src: url("../fonts/Menlo-Regular.ttf") format('ttf')
}
