.container {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.aboutWrapper {
    padding: 18px 10px 18px 10px;
    border-bottom: 2.5px solid #efefef;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #595959;
    font-family: "Jost-Medium";
}
