.container {
    padding: 18px 10px 18px 10px;
    border-bottom: 2.5px solid #efefef;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.categoryWrapper {
    font-size: 19px;
    color: #595959;
    font-family: "Jost-Medium";
    display: flex;
    align-items: center;
}

.postsNumberText {
    margin-left: 5px;
    font-size: 16.5px;
    color: #595959;
    font-family: "Jost-Medium";
}

