.container {
    margin-top: 13px;
    display: flex;
    justify-content: center;
}

.postListWrapper {
    display: flex;
    flex-wrap: wrap;
    
    @media (max-width: 470px) {
        width: 90vw;
    }

    @media (min-width: 470px) and (max-width: 900px) {
        width: 28rem;
    }


    @media (min-width: 900px) and (max-width: 1199px) {
    }

    @media (min-width: 1200px) {
    }
}

.emptyPostItemWrapper {
    width: 13.5rem;
    height: 16rem;
    margin-bottom: 20px;
    border: 0.5px solid #f2f2f2;
    border-radius: 15px;
}

