.container {
    margin-top: 13px;
    display: flex;
    justify-content: center;
}

.postListWrapper {
    display: flex;
    flex-wrap: wrap;
    
}

.postItemWrapper {
    padding: 0px 7px;
}

.emptyPostItemWrapper {
    width: 13.5rem;
    height: 16rem;
    margin-bottom: 20px;
    border: 0.5px solid #f2f2f2;
    border-radius: 15px;
}


@media (min-width: 470px) and (max-width: 900px) {
    .postListWrapper {
        width: 30rem;
    }
}

@media (max-width: 470px) {
    .postListWrapper {
        width: 90vw;
    }
}


